.navlist{
    list-style: none;
    padding: 0;
}

.navcontains{
    position: fixed;
    top: 10;
    align-items: center;
    width: 10%;
    height: 100vh;
    padding: 15px;
    background-color:#C8D8EA;
}

.navlist>li{
    margin: 5%;
    padding: 3%;
    align-content: space-evenly;
}

.navlist>li:hover{
   background-color:  #538bdf;
   color: whitesmoke;
   border-radius: 5px;
   cursor: pointer;
   transition: all 1s ease-in;
   width: 100%;
}

/* @media (max-width:992px){
    .navcontains{
        display: none;
    }
} */

