.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button{
  color: rgb(224, 206, 203);
}

.check{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  color: rgb(112, 107, 107);
 background-color:rgb(78, 54, 65);
}

body::-webkit-scrollbar{
  display: none;
}

@media(max-width:500px){
  .check{
    background-color: rgb(113, 202, 173);
  }
  button{
    background-color: rgb(44, 75, 65);   
     color: wheat;
  }
}
.parent{
  background-color: rgb(162, 162, 241);
  width: 300px;
  height: 200px;
  margin: auto;
  margin-top: 15px;
}

.child1{
  background-color: antiquewhite;
  color: white;
  margin:2%;
  position: relative;
  left:0px;
  padding: 5px;
}
.child2{
  background-color:rgb(155, 70, 70);
  color: rgb(155, 70, 70);
  position: fixed;
  top: 0px;
  padding: 5px;
  width: 100%;
}
.child3{
  background-color:rgb(49, 58, 107);
  color: rgb(49, 58, 107);
  margin:2%;
  padding: 5px;
}
.child4{
  background-color:rgb(196, 235, 123);
  color: rgb(196, 235, 123);
  margin:2%;
  padding: 5px;
}

.parentem{
  font-size: 20px;
}

.child-em{
  font-size: 2em;
  margin: 1.5rem;
}

.gridcontainer{
  /* display: grid; */
  row-gap: 2px;
  gap: 2px;
  width: 500px;
  border: 2px gray solid;
  /* position: relative; */
  grid-template-columns: repeat(5,100px);

}

.griditems{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 100px;
  background-color: #61dafb;
}


.griditems2{
  width: 100%;
  /* position: relative; */
  top: 20px;
  left: 15px;

  gap: 2;
  height: 100px;
  background-color: #bfcc49;
}

.griditems3{
  width: 100%;
  gap: 2;
  height: 100px;
  background-color: #0f1314;
}

.griditems4{
  width: 100%;
  gap: 2;
  height: 100px;
  background-color: #4d2fb8;
}